@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
.contMain {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}

.contMain__section1--header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  padding: 15px 20px;
  grid-template-areas: "logo button1" "title1 title1" "paragraph1 paragraph1" "button2 button2" "img1 img1";
  align-items: center;
  row-gap: 30px;
}
.contMain__section1--header img:nth-child(1) {
  width: 6.25rem;
  grid-area: logo;
}
.contMain__section1--header input:nth-child(2) {
  width: 120px;
  background: #ebfbff;
  grid-area: button1;
  justify-self: end;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 5px 10px;
  box-shadow: 0px 2px 4px 0px #808d99;
  cursor: pointer;
}
.contMain__section1--header input:nth-child(2):hover {
  color: #808d99;
}
.contMain__section1--header h1 {
  grid-area: title1;
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  line-height: 1.6;
}
.contMain__section1--header p {
  grid-area: paragraph1;
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  font-size: 15px;
}
.contMain__section1--header input:nth-child(5) {
  grid-area: button2;
  width: 80%;
  justify-self: center;
  background: #ff52bf;
  border: none;
  border-radius: 40px;
  padding: 10px 0;
  color: #ebfbff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.contMain__section1--header input:nth-child(5):hover {
  background: #ea96cb;
}
.contMain__section1--header img:nth-child(6) {
  grid-area: img1;
  width: 100%;
}

.contMain__section1--header h2, .contMain__section2 h2, .contMain__section3 h2 {
  text-align: center;
  font-size: 18px;
}
.contMain__section1--header h1, .contMain__section1--header h2, .contMain__section2 h1, .contMain__section2 h2, .contMain__section3 h1, .contMain__section3 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.contMain__section1--header input:nth-child(5), .contMain__section2 input:nth-child(5), .contMain__section3 input:nth-child(5) {
  width: 80%;
}
.contMain__section1--header p, .contMain__section2 p, .contMain__section3 p {
  text-align: center;
  line-height: 1.6;
}

.contMain__section1--buttonPink {
  grid-area: button2;
  justify-self: center;
  background: #ff52bf;
  border: none;
  border-radius: 40px;
  padding: 10px 0;
  color: #ebfbff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.contMain__section2 {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "img" "title" "paragraph";
  row-gap: 30px;
}
.contMain__section2 img {
  width: 100%;
  grid-area: img;
}
.contMain__section2 p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #808d99;
  grid-area: paragraph;
}
.contMain__section2 h2 {
  grid-area: title;
}

.contMain__section3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "title3" "paragraph3";
  background: #ebfbff;
  padding: 30px 0;
  position: relative;
  bottom: -81px;
  justify-self: center;
  width: 96%;
  border-radius: 15px;
  row-gap: 20px;
}
.contMain__section3 h2 {
  grid-area: title3;
  font-size: 16px;
  padding: 0 10px;
}
.contMain__section3 input {
  width: 60%;
  grid-area: paragraph3;
  justify-self: center;
}
.contMain__section3 p {
  font-family: "Open Sans", sans-serif;
  color: #808d99;
}

.contMain__section4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "contact" "links" "socialNetworks";
  background: #00252e;
  padding: 150px 20px 30px 20px;
  row-gap: 30px;
}
.contMain__section4 div {
  column-gap: 15px;
}
.contMain__section4 div p, .contMain__section4 div a {
  color: #ebfbff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
.contMain__section4 div a {
  font-size: 14px;
}
.contMain__section4 div p {
  font-size: 13px;
}
.contMain__section4 div:nth-child(1) {
  grid-area: contact;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "logoWhite logoWhite" "iconLocation paragraph4" "iconPhone numberphone" "iconEmail email";
  row-gap: 20px;
}
.contMain__section4 div:nth-child(1) img:nth-child(1) {
  grid-area: logoWhite;
  width: 9.25rem;
}
.contMain__section4 div:nth-child(1) img:nth-child(2) {
  grid-area: iconLocation;
}
.contMain__section4 div:nth-child(1) p:nth-child(3) {
  grid-area: paragraph4;
}
.contMain__section4 div:nth-child(1) img:nth-child(4) {
  grid-area: iconPhone;
}
.contMain__section4 div:nth-child(1) p:nth-child(5) {
  grid-area: numberphone;
}
.contMain__section4 div:nth-child(1) img:nth-child(6) {
  grid-area: iconEmail;
}
.contMain__section4 div:nth-child(1) p:nth-child(7) {
  grid-area: email;
}
.contMain__section4 div:nth-child(2) {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  row-gap: 20px;
}
.contMain__section4 div:nth-child(2) a {
  text-decoration: none;
}
.contMain__section4 div:nth-child(2) a:hover {
  text-decoration: underline;
}
.contMain__section4 div:nth-child(3) {
  grid-area: socialNetworks;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  grid-template-areas: "iconfacebook iconTwitter iconInstagram" "copyRight copyRight copyRight";
  row-gap: 30px;
}
.contMain__section4 div:nth-child(3) input {
  width: 30px;
  border: 1px solid #ebfbff;
  border-radius: 50%;
  padding: 6px;
}
.contMain__section4 div:nth-child(3) input:hover {
  border: 1px solid #ff52bf;
}
.contMain__section4 div:nth-child(3) input:nth-child(1) {
  grid-area: iconfacebook;
}
.contMain__section4 div:nth-child(3) input:nth-child(2) {
  grid-area: iconTwitter;
}
.contMain__section4 div:nth-child(3) input:nth-child(3) {
  grid-area: iconInstagram;
}
.contMain__section4 div:nth-child(3) p {
  grid-area: copyRight;
}

.containerFooter {
  display: grid;
  justify-items: center;
  background: #000;
  width: 100%;
}
.containerFooter h3 {
  color: #fff;
  text-align: center;
}
.containerFooter a {
  color: #FF3F00;
  text-transform: capitalize;
  text-decoration: none;
}
.containerFooter a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contMain__section1--header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "logo button1" "title1 img1" "paragraph1 img1" "button2 img1";
    column-gap: 50px;
  }
  .contMain__section1--header img:nth-child(1) {
    width: 12.5rem;
    grid-area: logo;
  }
  .contMain__section1--header h1 {
    font-size: 30px;
    text-align: left;
  }
  .contMain__section1--header p {
    font-size: 14px;
    text-align: left;
  }
  .contMain__section1--header input:nth-child(5) {
    width: 55%;
    justify-self: start;
    border: none;
    font-size: 11px;
  }

  .contMain__section2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: " title img" "paragraph img";
  }
  .contMain__section2 h2 {
    align-self: end;
    text-align: left;
  }
  .contMain__section2 p {
    text-align: left;
  }

  .contMain__section2Left {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "img title" " img paragraph";
  }

  .contMain__section3 {
    width: 60%;
  }

  .contMain__section4 {
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "contact links socialNetworks";
    column-gap: 20px;
  }
  .contMain__section4 img:nth-child(1) {
    grid-area: logoWhite;
    width: 9.25rem;
  }
  .contMain__section4 div p {
    font-size: 10px;
  }
  .contMain__section4 div:nth-child(2) {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "link1 link5" "link4 link3 " "link2 link6";
  }
  .contMain__section4 div:nth-child(2) a:nth-child(1) {
    grid-area: link1;
  }
  .contMain__section4 div:nth-child(2) a:nth-child(2) {
    grid-area: link4;
  }
  .contMain__section4 div:nth-child(2) a:nth-child(3) {
    grid-area: link2;
  }
  .contMain__section4 div:nth-child(2) a:nth-child(4) {
    grid-area: link5;
  }
  .contMain__section4 div:nth-child(2) a:nth-child(5) {
    grid-area: link3;
  }
  .contMain__section4 div:nth-child(2) a:nth-child(6) {
    grid-area: link6;
  }
  .contMain__section4 div:nth-child(3) p {
    align-self: end;
  }
}/*# sourceMappingURL=styles.css.map */